* {
  margin: 0;
  padding: 0;
  outline: 0;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: black;
  color: white;
  font-family: helvetica;
}

/* Home Page */
#homePage {
  width: 100%;
  height: 100%;
  position: relative;
}

#homePage_logo {
  width: 100%;
  height: 285px;
  position: relative;
  text-align: center;
  margin-top: 50px;
}

#homePage_logo img {
  height: 230px;
}

#homePage_selection {
  position: relative;
  /* max-width: 1200px; */
  margin: auto;
  overflow: hidden;
  /* padding: 0 20px; */
  display: block;
}

.homePage__selection__row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.homePage__selection__col {
  flex: 33.33%;
  max-width: 33.33%;
  box-sizing: border-box;
  padding: 15px;
  text-align: -webkit-center;
}

.sel__1 {
  height: 270px;
  background: url(../assets/bg/Main\ page\ 1.png);
  position: relative;
  background-position: bottom;
  background-size: cover;
}

.sel__2 {
  height: 270px;
  background: url(../assets/bg/Main\ page\ 2.png);
  position: relative;
  background-position: bottom;
  background-size: cover;
}

.sel__3 {
  height: 270px;
  background: url(../assets/bg/Main\ page\ 3.png);
  position: relative;
  background-position: bottom;
  background-size: cover;
}

.sel__1 img {
  position: absolute;
  left: 0;
  top: 40px;
  width: 200px;
}

.sel__1 h2 {
  position: relative;
  font-size: 40px;
  top: 80px;
  left: 75px;
}

.sel__1 p {
  position: relative;
  width: 250px;
  font-size: 19px;
  top: 80px;
  left: 75px;
  line-height: 25px;
}

.sel__2 img {
  position: absolute;
  left: 30px;
  top: 10px;
  width: 135px;
}

.sel__2 h2 {
  position: relative;
  font-size: 40px;
  top: 65px;
  left: 50px;
  width: 288px;
}

.sel__2 p {
  position: relative;
  font-size: 19px;
  top: 65px;
  left: 50px;
  width: 240px;
  line-height: 25px;
}

.sel__3 img {
  position: absolute;
  left: 100px;
  top: 40px;
  width: 125px;
}

.sel__3 h2 {
  position: relative;
  font-size: 40px;
  top: 100px;
  left: 50px;
}

.sel__3 p {
  position: relative;
  width: 250px;
  font-size: 19px;
  top: 100px;
  left: 50px;
}

/* All Products Selection */
#allProducts_selection {
  position: relative;
  height: 600px;
}

.swiper-container {
  width: 100%;
  height: 55%;
}

.swiper-slide__sel {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.selection__swipeIcon {
  position: relative;
  bottom: -15px;
  left: 665px;
}

.selection__swipeIcon img {
  height: 50px;
  padding-bottom: 3px;
  position: relative;
  animation: swiperMovement 2s infinite;
}

.selection__swipeIcon span {
  position: relative;
  left: -30px;
}

.item__img {
  width: 90%;
  height: 90%;
}

.item__img__diff {
  width: 55%;
  height: 92%;
}

.item__img img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.item__img__diff img {
  display: block;
  width: 100%;
  height: 100%;
}

.bg__item1 {
  background: #ef3340;
}
.bg__item2 {
  background: #ff6900;
}
.bg__item3 {
  background: #df1995;
}
.bg__item4 {
  background: #702f8a;
}
.bg__item5 {
  background: #00a9e0;
}
.bg__item6 {
  background: #da291c;
}
.bg__item7 {
  background: #211551;
}
.bg__item8 {
  background: #d0df00;
}
.bg__item9 {
  background: #1e22aa;
}

/* All Products Page */
#allProducts_page {
  display: none;
  flex-direction: row;
  width: 100%;
  height: 100%;
  position: relative;
}

.homeBtnCcontainer__pos {
  position: absolute;
  bottom: 100px;
  right: 30px;
  z-index: 20;
}

#products_list {
  position: absolute;
  top: 0;
  left: 765px;
  height: 115px;
  z-index: 30;
}

.list__pos {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.list__item {
  padding-left: 15px;
}

.list__img {
  width: 50px;
  height: 90px;
  position: relative;
  box-shadow: 0px 0px 6px 2px #00000038;
}

.list__img__diff {
  width: 50px;
  height: 90px;
  position: relative;
  box-shadow: 0px 0px 6px 2px #00000038;
}

.list__img img {
  width: 90px;
  height: 80px;
  position: relative;
  left: -20px;
  top: 5px;
}

.list__img__diff img {
  width: 55px;
  height: 80px;
  position: relative;
  left: -3px;
  top: 5px;
}

.homeBtn {
  background: transparent;
  outline: none;
  border: 0;
}

.homeBtn__pos {
  position: relative;
  top: 75px;
}

.homeBtn img {
  width: 65px;
}

.pages {
  height: 100%;
  width: 100%;
  flex: 0 0 100%;
  position: relative;
}

.touch__pages {
  height: 100%;
  width: 100%;
}

/* individual Page */
/* bg color */
.pages_bg_1 {
  background: url(../assets/bg/Productpagebackground/bg\ 1.png);
}

.pages_bg_2 {
  background: url(../assets/bg/Productpagebackground/bg\ 2.png);
}

.pages_bg_3 {
  background: url(../assets/bg/Productpagebackground/bg\ 3.png);
}

.pages_bg_4 {
  background: url(../assets/bg/Productpagebackground/bg\ 4.png);
}

.pages_bg_5 {
  background: url(../assets/bg/Productpagebackground/bg\ 5.png);
}

.pages_bg_6 {
  background: url(../assets/bg/Productpagebackground/bg\ 6.png);
}

.pages_bg_7 {
  background: url(../assets/bg/Productpagebackground/bg\ 7.png);
}

.pages_bg_8 {
  background: url(../assets/bg/Productpagebackground/bg\ 8.png);
}

.pages_bg_9 {
  background: url(../assets/bg/Productpagebackground/bg\ 9.png);
}

/* Page position */
#page1 {
  position: relative;
  left: 0%;
  opacity: 0;
}

#page2 {
  position: relative;
  left: -100%;
  opacity: 0;
}

#page3 {
  position: relative;
  left: -200%;
  opacity: 0;
}

#page4 {
  position: relative;
  left: -300%;
  opacity: 0;
}

#page5 {
  position: relative;
  left: -400%;
  opacity: 0;
}

#page6 {
  position: relative;
  left: -500%;
  opacity: 0;
}

#page7 {
  position: relative;
  left: -600%;
  opacity: 0;
}

#page8 {
  position: relative;
  left: -700%;
  opacity: 0;
}

#page9 {
  position: relative;
  left: -800%;
  opacity: 0;
}

.pages__logo {
  position: absolute;
  top: 20px;
  left: 50px;
}

.result__logo {
  position: absolute;
  top: 20px;
  left: 595px;
}

.pages__logo img,
.result__logo img {
  height: 75px;
}

.pages__swipeIcon {
  position: absolute;
  bottom: 25px;
  left: 740px;
}

.pages__swipeIcon img {
  height: 50px;
  position: relative;
  animation: swiperMovement 2s infinite;
}

.pages__swipeIcon span {
  position: relative;
  left: -60px;
}

.pages__locateMe {
  position: absolute;
  bottom: 50px;
  left: 65px;
}

.pages__locateMe img {
  height: 50px;
}

.pages__products {
  position: absolute;
  left: -55px;
  top: 160px;
}

.pages__products__diff {
  position: absolute;
  left: 40px;
  top: 160px;
}

.pages__products img,
.pages__products__diff img {
  height: 500px;
  position: relative;
  transform: rotateZ(15deg);
  animation: productMovement 5s infinite;
}

.pages__text {
  position: absolute;
  left: 365px;
  top: 115px;
  width: 65%;
  margin: auto;
  overflow: hidden;
  display: block;
}

.pages__text h1 {
  font-size: 75px;
}

.pages__text p {
  font-size: 30px;
  padding-top: 10px;
}

.pages__row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
}

.pages__col {
  flex: 25%;
  max-width: 25%;
  box-sizing: border-box;
  padding: 5px;
  text-align: -webkit-center;
}

.pages__col img {
  height: 75px;
  padding: 15px;
}

.pages__col p {
  font-size: 18px;
  width: 100%;
}

/* FAQ page */
#faq_page {
  position: relative;
  width: 100%;
  height: 100%;
  display: none;
}

.faq__products {
  position: absolute;
  left: 50px;
  top: 160px;
}

.faq__products img {
  height: 550px;
  position: absolute;
  animation-name: imageChange;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 16s;
}

.faq__products img:nth-of-type(1) {
  animation-delay: 0s;
  opacity: 0;
}

.faq__products img:nth-of-type(2) {
  animation-delay: 4s;
  opacity: 0;
}

.faq__products img:nth-of-type(3) {
  /* add some delay for the first picture as well */
  animation-delay: 8s;
  opacity: 0;
}

.faq__products img:nth-of-type(4) {
  /* add some delay for the first picture as well */
  animation-delay: 12s;
  opacity: 0;
}

.faq__details {
  position: absolute;
  top: 90px;
  left: 460px;
}

.faq__faqIcon {
  position: relative;
  bottom: 20px;
}

.faq__faqIcon img {
  height: 80px;
  position: relative;
}

.faq__faqIcon span {
  position: relative;
  font-size: 60px;
  font-weight: 600;
  padding-left: 12px;
  bottom: 20px;
}

.swiper__faq {
  width: 100%;
  height: 100%;
}

.swiper__con {
  position: relative;
  height: 450px;
  width: 720px;
  outline: solid;
}

.swiper-slide__faq {
  font-size: 18px;
  height: auto;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 30px 50px 30px 30px;
}

.swiper-slide__faq h5 {
  padding-top: 15px;
}

.swiper-slide__faq p {
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0.5px;
  padding: 17px;
}

.swiper-scrollbar-drag {
  background: white !important;
}

.swiper-scrollbar {
  background: transparent !important;
}

/* Q & A Page */
#qna_page {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: none;
}

.qna__indicator {
  position: absolute;
  bottom: 35px;
  left: 525px;
}

.qna__indicator ul {
  margin: auto;
  height: 10px;
  width: 500px;
  list-style: none;
  padding: 0;
}

.qna__indicator ul li {
  display: block;
  float: left;
  width: 90px;
  height: 10px;
  margin-right: 10px;
}

li:nth-child(-n + 1) {
  background: rgba(255, 255, 255, 0.9);
  box-shadow: inset 0px 0px 10px 2px rgba(117, 182, 255, 0.5),
    0px 0px 20px rgba(117, 182, 255, 0.5);
}

li:nth-child(n + 2) {
  box-shadow: inset 0px 0px 10px 1px rgba(117, 182, 255, 0.4),
    0px 0px 20px rgba(117, 182, 255, 0.1);
}

#qna__q1 {
  display: none;
  opacity: 0;
}

#qna__q2 {
  display: none;
  opacity: 0;
}

#qna__q3 {
  display: none;
  opacity: 0;
}

.qna__header {
  position: relative;
  top: 135px;
  width: 100%;
  text-align: center;
}

.qna__header h3 {
  font-size: 40px;
}

.qna__header p {
  font-size: 22px;
  padding-top: 16px;
}

.qna__details {
  position: relative;
  top: 185px;
}

.qna__question__pos {
  position: relative;
  width: 100%;
}

.qna__question__pos h4 {
  font-size: 30px;
  text-align: center;
}

.qna__btn {
  position: relative;
  max-width: 1200px;
  margin: auto;
  overflow: hidden;
  padding: 30px 20px;
  display: block;
}

.qna__btn__row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.qna__btn__col {
  flex: 33.33%;
  max-width: 33.33%;
  box-sizing: border-box;
  padding: 15px;
  text-align: -webkit-center;
  position: relative;
}

.qna__btn__row2 {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}

.qna__btn__col2 {
  flex: 25%;
  max-width: 25%;
  box-sizing: border-box;
  padding: 15px;
  text-align: -webkit-center;
  position: relative;
}

.q1__img img {
  width: 200px;
}

.q2__img img {
  width: 200px;
}

.gender__m {
  width: 65px !important;
  position: absolute;
  top: 25px;
  left: 165px;
}

.gender__f {
  width: 70px !important;
  position: absolute;
  top: 30px;
  left: 165px;
}

.q2__img__text1 {
  position: absolute;
  left: 100px;
  top: 25px;
  color: black;
  font-weight: 600;
  font-size: 36px;
}

.q2__img__text2 {
  position: absolute;
  left: 100px;
  top: 25px;
  color: black;
  font-weight: 600;
  font-size: 36px;
}

.q2__img__text3 {
  position: absolute;
  left: 100px;
  top: 25px;
  color: black;
  font-weight: 600;
  font-size: 34px;
}

.q2__img__text4 {
  position: absolute;
  left: 80px;
  top: 25px;
  color: black;
  font-weight: 600;
  font-size: 34px;
}

.q3__img__text1 {
  position: absolute;
  left: 35px;
  top: 23px;
  color: black;
  font-size: 22px;
}

.q3__img__text2 {
  position: absolute;
  left: 77px;
  top: 23px;
  color: black;
  font-size: 22px;
}

.q3__img__text3 {
  position: absolute;
  left: 50px;
  top: 23px;
  color: black;
  font-size: 22px;
}

.q3__img__text4 {
  position: absolute;
  left: 111px;
  top: 23px;
  color: black;
  font-size: 22px;
}

.q3__img__text5 {
  position: absolute;
  left: 65px;
  top: 23px;
  color: black;
  font-size: 22px;
}

.q3__img__text6 {
  position: absolute;
  left: 55px;
  top: 23px;
  color: black;
  font-size: 22px;
}

.q3__img__text7 {
  position: absolute;
  left: 55px;
  top: 23px;
  color: black;
  font-size: 22px;
}

.q3__img__text8 {
  position: absolute;
  left: 65px;
  top: 23px;
  color: black;
  font-size: 22px;
}

.q3__img__text9 {
  position: absolute;
  left: 120px;
  top: 23px;
  color: black;
  font-size: 22px;
}

.q3__img__text10 {
  position: absolute;
  left: 55px;
  top: 23px;
  color: black;
  font-size: 22px;
}

.q3__img__text11 {
  position: absolute;
  left: 40px;
  top: 23px;
  color: black;
  font-size: 22px;
}

.q3__img__text12 {
  position: absolute;
  left: 100px;
  top: 23px;
  color: black;
  font-size: 22px;
}

.q3__img__text13 {
  position: absolute;
  left: 100px;
  top: 23px;
  color: black;
  font-size: 22px;
}

.q3__img1 div img,
.q3__img3 div img,
.q3__img6 div img,
.q3__img11 div img {
  width: 100%;
  height: 40px;
}

.q3__img2 div img,
.q3__img12 div img {
  width: 300px;
  height: 40px;
}

.q3__img4 div img,
.q3__img9 div img {
  width: 250px;
  height: 40px;
}

.q3__img5 div img,
.q3__img8 div img {
  width: 320px;
  height: 40px;
}

.q3__img7 div img {
  width: 330px;
  height: 40px;
}

.q3__img10 div img {
  width: 330px;
  height: 40px;
}

.q3__img13 div img,
.q3__img14 div img {
  width: 280px;
  height: 40px;
}

.q3__img1 div,
.q3__img3 div,
.q3__img6 div,
.q3__img11 div {
  width: 100%;
  height: 40px;
}

.q3__img2 div,
.q3__img12 div,
.q3__img14 div {
  width: 300px;
  height: 40px;
}

.q3__img4 div,
.q3__img9 div {
  width: 250px;
  height: 40px;
}

.q3__img5 div,
.q3__img8 div {
  width: 320px;
  height: 40px;
}

.q3__img7 div {
  width: 330px;
  height: 40px;
}

.q3__img10 div {
  width: 330px;
  height: 40px;
}

.q3__img13 div {
  width: 280px;
  height: 40px;
}

/* result page */
#result_page {
  position: relative;
  width: 100%;
  height: 100%;
  display: none;
  overflow: hidden;
}
.result__header {
  position: relative;
  top: 135px;
  width: 100%;
  text-align: center;
}

.result__header h4 {
  font-size: 36px;
}

.result__list {
  position: relative;
  max-width: 1200px;
  margin: auto;
  overflow: hidden;
  padding: 30px 20px;
  display: block;
  top: 175px;
}

.result__btn__row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.result__btn__col {
  flex: 33.33%;
  max-width: 33.33%;
  box-sizing: border-box;
  padding: 15px;
  text-align: -webkit-center;
  position: relative;
}

.result__btn__col h6 {
  font-size: 14px;
  padding-top: 7px;
}

.result__img img {
  width: 320px;
  padding-top: 15px;
}

.result__img h5 {
  font-size: 36px;
}

.result__bg5 img,
.result__bg6 img {
  width: 190px;
  padding-top: 15px;
}

/* Result bg */
.result__bg1 {
  background: url(../assets/bg/Productpagebackground/bg\ 1.png);
  height: 400px;
  background-size: cover;
  background-position-x: center;
}

.result__bg2 {
  background: url(../assets/bg/Productpagebackground/bg\ 2.png);
  height: 400px;
  background-size: cover;
  background-position-x: center;
}

.result__bg3 {
  background: url(../assets/bg/Productpagebackground/bg\ 3.png);
  height: 400px;
  background-size: cover;
  background-position-x: center;
}

.result__bg4 {
  background: url(../assets/bg/Productpagebackground/bg\ 4.png);
  height: 400px;
  background-size: cover;
  background-position-x: center;
}

.result__bg5 {
  background: url(../assets/bg/Productpagebackground/bg\ 5.png);
  height: 400px;
  background-size: cover;
  background-position-x: center;
}

.result__bg6 {
  background: url(../assets/bg/Productpagebackground/bg\ 6.png);
  height: 400px;
  background-size: cover;
  background-position-x: center;
}

.result__bg7 {
  background: url(../assets/bg/Productpagebackground/bg\ 7.png);
  height: 400px;
  background-size: cover;
  background-position-x: center;
}

.result__bg8 {
  background: url(../assets/bg/Productpagebackground/bg\ 8.png);
  height: 400px;
  background-size: cover;
  background-position-x: center;
}

.result__bg9 {
  background: url(../assets/bg/Productpagebackground/bg\ 9.png);
  height: 400px;
  background-size: cover;
  background-position-x: center;
}

#result_group_1 {
  display: none;
  opacity: 0;
}

#result_group_2 {
  display: none;
  opacity: 0;
}

#result_group_3 {
  display: none;
  opacity: 0;
}

#result_group_4 {
  display: none;
  opacity: 0;
}

#result_group_5 {
  display: none;
  opacity: 0;
}

#result_group_6 {
  display: none;
  opacity: 0;
}

#result_group_7 {
  display: none;
  opacity: 0;
}

#result_group_8 {
  display: none;
  opacity: 0;
}

#result_group_9 {
  display: none;
  opacity: 0;
}

#result_group_10 {
  display: none;
  opacity: 0;
}

#result_group_11 {
  display: none;
  opacity: 0;
}

#result_group_12 {
  display: none;
  opacity: 0;
}

#result_group_13 {
  display: none;
  opacity: 0;
}

/* Keyframe */

@keyframes swiperMovement {
  0% {
    left: 5px;
  }
  50% {
    left: -5px;
  }
  100% {
    left: 5px;
  }
}

@keyframes productMovement {
  0% {
    top: 5px;
  }
  50% {
    top: -25px;
  }
  100% {
    top: 5px;
  }
}

@keyframes pulse {
  0% {
    background: rgba(255, 255, 255, 1);
    box-shadow: inset 0px 0px 10px 2px rgba(117, 182, 255, 0.5),
      0px 0px 40px 2px rgba(105, 135, 255, 1);
  }
  100% {
    background: rgba(255, 255, 255, 0);
    box-shadow: inset 0px 0px 10px 2px rgba(117, 182, 255, 0.5),
      0px 0px 30px 2px rgba(105, 135, 255, 0.3);
  }
}

@keyframes imageChange {
  /* distributing times evenly */
  0% {
    opacity: 1;
  }
  17% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  92% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
